.backDrop{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.SHOW {
    opacity: 0.75;
    visibility: visible ;
}

.pupUp{
    position: absolute;
    width: 30%;
    padding: 20px;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    z-index: 210;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
}


.SHOWPOPUP {
    opacity: 1;
    visibility: visible;
}


input {
    padding: 5px;
    border: 1px solid rgb(56, 2, 56);
    border-radius: 3px;
    margin-left: 5px;
}


.forrm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}